<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Login 成功</h1>
<p th:text="${myRtn.rtnNo}"></p>
<p th:text="${myRtn.rtnDate}"></p>
<p th:text="${myRtn.rtnWhy}"></p>
<p th:text="${myRtn.refundAmount}"></p>
<p th:text="${myRtn.rtnStatus}"></p>

<p th:text="${myRtn.empNo.empNo}"></p>
<p th:text="${myRtn.empNo.empName}"></p>
<p th:text="${myRtn.empNo.empPsw}"></p>
<p th:text="${myRtn.empNo.empHireDate}"></p>
<p th:text="${myRtn.empNo.empStatus}"></p>
<p th:text="${myRtn.empNo.empSal}"></p>

</body>
</html>