<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Login 成功</h1>
<p th:text="${myRtn.rtnNo}"></p>
<p th:text="${myRtn.rtnDate}"></p>
<p th:text="${myRtn.rtnWhy}"></p>
<p th:text="${myRtn.refundAmount}"></p>
<p th:text="${myRtn.rtnStatus}"></p>
<p th:text="${myRtn.empNo}"></p>
<!-- <p th:text="${myRtn.empName}"></p> -->
<!-- <p th:text="${myRtn.empPsw}"></p> -->
<!-- <p th:text="${myRtn.empHireDate}"></p> -->
<!-- <p th:text="${myRtn.empStatus}"></p> -->
<!-- <p th:text="${myRtn.empSal}"></p> -->


</body>
</html>